/*
Orange #e67e22
*/

/* ---------------------------------*/
/* BASIC SETUP */
/* ---------------------------------*/

/* First thing to do is target all elements and set the margin and padding to zero.   */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #4e4e4e;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /* Make fonts render in a perfect way */
    text-rendering: optimizeLegibility;
    /* Prevents text going out of width */
    overflow-x: hidden; 
    
}

/* ---------------------------------*/
/* REUSABLE COMPONENTS */
/* ---------------------------------*/


/* The content will be in rows */
.row {
    /* Only value that has absolute value in pixels */
    max-width: 1140px;
    /* Center the content in rows */
    margin: 0 auto;
}

/* ------ HEADINGS ------ */

/* reset margin in h1 element as due to normalise css there is some margin added. */
h1,h2 {
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
}

h2 {
    font-size: 180%;
    text-align: center;
    margin-top: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

h3 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 10px 0;
}

/* ------ SECTIONS ------ */

section {
    padding: 80px 0px;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    /* removes text underlining */
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
    /* https://flatuicolors.com/palette/defo*/
    background-color: #e67e22;
    border: 1px solid #e67e22;
    /* text color */
    color: #fff;
    margin-right: 15px;
    
}


.btn:hover,
.btn:active {
    /* https://www.0to255.com/ */
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
    
}

/* ------ ICONS ------ */

.header-icons {
    position: relative;
    margin: 0 auto;
    resize: both;
    overflow: auto;
    height: 200px;
    width: 60%;
    
}

.hero-icons {
    position: relative;
}


/* ------ PARAGRAPHS ------ */

.about-para1,.about-para2 {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
}

.about-para1 {
    margin-top: 20px;
}

/* ------ LINKS ------ */

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 10px;
    line-height: 145%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #cf6d17;
}

/* ---------------------------------*/
/* HEADER */
/* ---------------------------------*/


header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* In order to see the image set height to 100% of the viewport */
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;   
}

/* ------ Main nav ------ */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.icon1, .icon2, .icon3 {
    font-size: 250%;
}

.icon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}
.icon2 {
    position: absolute;
    top: 50%;
    left: 57%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon3 {
    position: absolute;
    top: 50%;
    left: 64%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


/* ------ Sticky nav ------ */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255, 0.98);
    /* x y blur color */
    box-shadow: 0 2px 2px #ebebeb;
    /* brings to front */
    z-index: 9999;
}

.sticky .main-nav li {margin-bottom: 8px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0px;
    color: #555;
    
}

.sticky .main-nav {margin-top: 18px;}

/* ---------------------------------*/
/* ABOUT ME */
/* ---------------------------------*/

.section-about {
    background-color: #f4f4f4;
    padding-top: 20px;
}

/* ---------------------------------*/
/* PROJECTS SECTION */
/* ---------------------------------*/

.section-projects {
    padding-top: 20px;
}

.box {
    padding-left: 15px;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.heading-projects {
    padding-bottom: 20px;
    margin-top: 0px;
    padding-top: 20px;
}

.para-projects {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    
}


/* ---------------------------------*/
/* FOOTER SECTION */
/* ---------------------------------*/

footer {
    background-color: #6c6c6c;
    color: #d6d6d6;
    text-align: center;
}

.li-footer {
    line-height: 145%; 
}

.ul-footer {
    padding: 10px 0 20px 0;
    list-style: none;
}


/* ---------------------------------*/
/* ANIMATIONS */
/* ---------------------------------*/

.js--wp-1,
.js--wp-2{
    opacity: 0;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.js--wp-1.animated,
.js--wp-2.animated{
    opacity: 1;
}